---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../css/index.css';
---

<Layout title="Bienvenido a H-Vistars">
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
				title="Inicio"
				body="Aprende a usar Astro"
			/>
			<Card
				href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
				title="Factores"
				body="Zana es el mejor"
			/>
		</ul>
	</main>
</Layout>
